.item {
    text-align: center;
    width: 200px;
  }
  
  .consume-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .consume-button:hover {
    background-color: #0056b3;
  }
  
  p {
    margin-top: 10px;
    font-size: 18px;
  }
  
  /* Liquid */
  .liquid-container {
    width: 120px;
    height: 300px;
    border: 2px solid #000;
    background-color: #1b1d5c;
    position: relative;
    margin: 10px auto;
    overflow: hidden;
    border-radius: 10px;
  }
  
  .lid {
    width: 50%;
    height: 10%;
    background-color: #007bff;
    border-radius: 15px 15px 0 0;
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    border: 2px solid #000;
  }
  
  .bottle {
    width: 90%;
    height: 88%;
    background-color: #cfd4d1;
    position: absolute;
    bottom: 0;
    left: 5%;
    z-index: 5;
    border-radius: 40px 40px 10px 10px;
    overflow: hidden;
    border: 1% solid #000;
  }
  
  .liquid-level {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: height 0.3s ease;
    background-color: #f8f4f4;
  }
  
  /* Solid */
  .solid-container {
    width: 120px;
    height: 300px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-start;
    border: 2px solid #000;
    background-color: #1b1d5c;
    margin: 10px auto;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .solid-block {
    width: 90%;
    background-color: #ffcc00;
    border: 1px solid #000;
    border-radius: 5px;
    transition: height 0.3s ease;
  }
  
  /* Individual */
  .individual-container {
    width: 120px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    background-color: #1b1d5c;
    border: 2px solid #000;
    margin: 10px auto;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .individual-item {
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 50% 50% 60% 60%;
    transition: all 0.3s ease;
  }
  
  .buy-now-button {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
  }
  
  .buy-now-button:hover {
    background-color: #218838;
  }
  